<div class="head" id="class">
  <b class="github-link">
    <a href="https://github.com/AuMgAn/cubeviewer" style="width: inherit; height: inherit;">
      <img src="github-mark.png" alt="github" class="github-logo">
    </a>
    CubeViewer
  </b>
</div>

<div class="app">

  <div class="params" id = "params">
    <label for="side">Cube Size: {{selectedSide}}x{{selectedSide}}</label><br />
    <input id="size-slider" type="range" step="1" min="{{sides[0]}}" max="{{sides[sides.length - 1]}}" [(ngModel)]="selectedSide"/>
    <hr>

    <section *ngIf="false">
      <label for="side">Front face : </label>
      <div class="dropdown">
        <button class="{{face}}-dd">{{face}}</button>
        <div class="dropdown-content">
          <button *ngFor="let color of colors" (click)="updateFace(color)" class="{{color}}-dd">{{color}}</button>
        </div>
      </div>
      <hr>
    </section>

    <label for="side">Rotation speed : </label>
    <input type="range" min="0.1" max="1" step="0.1" [(ngModel)]="speed"/>
    <hr>

    <label for="side">Algorithm input : </label>
    <textarea [(ngModel)]="rawAlgorithm" (change)="setAlgorithm()"class="algorithm-input">
    </textarea>
    <button id="apply-algo">Apply</button>
    <hr>

    <button id="reset-button">Reset</button>
    <hr>

  </div>

  <div class="viewer">
    <app-viewer [size]="selectedSide" [face]="face[0]" [rorationSpeed]="speed" [algorithm]="algorithm"></app-viewer>
  </div>

</div>